.participant-container {
    table {
      width: 100%;
    }
    .plus-btn {
      display: block;
      position: fixed;
      top: 1em;
      right: 1em;
      font-size: 2em;
      color: white;
    }
  }
  @media only screen and (max-width: 600px) {
    .participant-container {
      overflow-x: auto;
      white-space: nowrap;
    }
    .table-wrapper {
      min-width: 600px;
    }
  }